<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Nawa3.Nawa3.mapper.BackgroundImgMapper">

    <select id="selectBackgroundImg" resultType="Nawa3.Nawa3.dto.BackgroundDto">
        SELECT *
        FROM background_img
        WHERE count = #{id}
    </select>
</mapper>
